.gameDialog {
 box-sizing: border-box;
 margin: auto;
 padding: 0;
 border: none;
 width: 100vw;
 /*height: 100vh;*/
 max-width: none;
 max-height: none;
 background-color: #1f3540;
}

.gameOption {
 margin: auto;
 box-sizing: inherit;
 padding: 2rem;
 width: 100vw;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 place-items: center;
 font-weight: 900;
}
.dialog-text-color {
 color: #a7bec8;
}
.gameOption .you-won {
 font-size: 0.75rem;
}
.gameOption .winner {
 font-size: 1.5rem;
 display: flex;
 place-items: center;
}
.gameOption .winnerCharacter {
 width: 4rem;
}
.gameOption .buttons {
 display: flex;
 gap: 0.8rem;
}
.gameOption .quit-button {
 box-shadow: 0 0.2rem 0rem 0rem #6d8893;
 font-weight: 900;
}
.gameOption .continue-button {
 font-weight: 900;
 box-shadow: 0 0.2rem 0rem 0rem #d49114;
}
