.header {
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 0.75rem;
}
.retry {
 padding: 0.25rem;
 background-color: #a8bec9;
 display: flex;
 box-shadow: 0 0.2rem 0rem 0rem #6d8893;
 place-items: center;
 height: 1.75rem;
}
.retry svg {
 margin: auto;
 fill: #122833;
}

/*logo*/
.logo {
 display: flex;
 place-items: center;
}
.logo .o,
.logo .x {
 display: flex;
 place-items: center;
 width: 1.5rem;
}

/*turn*/
.turn {
 background-color: #1f3540;
 display: flex;
 place-items: center;
 padding: 0.3rem 0.75rem;
 border-radius: 0.5rem;
 box-shadow: 0 0.2rem 0rem 0rem #12232d;
}
.turn p {
 text-align: center;
 margin: auto;
}
.turnCharacter {
 height: 1rem;
 width: 1rem;
}
